# Valid scopes are resolver.api.Scope.values(); =>  ["READ", "WRITE"]
apiUsers:
  {% for user in id_resolver.apiUsers %}
  - {
      name: "{{ user.name }}",
      password: "{{ user.password }}",
      organisation: "{{ user.organisation }}",
      scopes: [ {{ user.scopes|join(', ') }} ]
    }
  {% endfor %}
