@import "../stylesheets/mixins.scss";

.mod-researchers {
    @include page;

    .card {
        @include card;
        padding: 0 15px;
    }
    section.search {
        position: relative;
        flex-grow: 5;
        margin-top: 25px;

        input {
            padding: 12px;
            margin-left: auto;
            margin-top: 0;
            border: 1px solid $lighter-grey;
            border-bottom-left-radius: $br;
            border-top-left-radius: $br;
            font-size: 14px;
            width: 100%;
            height: 100%;
        }

        i.fa-search {
            color: lighten($blue, 5);
            position: absolute;
            right: 14px;
            top: 8px;
            font-size: 24px;
        }
    }
    section.details {
        margin-top: 25px;
    }


}

